API_ID=39052
API_HASH=your_api_hash_here
BOT_TOKEN=your_bot_token_here
ADMIN_ID=your_telegram_user_id

LOG_CHANNEL=@felixlogs
UPI_ID=yourupi@bank
DEFAULT_2FA=Felix@4545
DEFAULT_NAME=Felix Store
SUPPORT_USER=@yoursupport
BOT_NAME=Felix Store
WELCOME_IMG=https://example.com/welcome.jpg

FAMPAY_GMAIL=youraccount@gmail.com
FAMPAY_GMAIL_APP_PASSWORD=your16digitapppassword

SESSIONS_DIR=session
SOLD_DIR=sold_session
PENDING_DIR=pending_session
DB_PATH=felixstore.db
